.kanonColorButton {
    width: fit-content;
    text-transform: none !important;
    font-size: 16px !important;
    color: white !important;
    font-family: "Klavika" !important;
    padding: 0px 24px !important;
    height: 48px;
    background: linear-gradient(135deg, #2d61e5 0%, #8a62f6 53.09%, #e3477e 100%) !important;
    box-shadow: 0px 0px 1px rgba(45, 97, 229, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12),
        0px 16px 24px rgba(45, 97, 229, 0.24), 0px 8px 8px -4px rgba(45, 97, 229, 0.12) !important;
    border-radius: 12px !important;
}
