.kanonDefaultButton {
    width: fit-content;
    height: 48px;
    padding: 0px 24px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: white !important;
    text-transform: none !important;
    font-family: "Klavika" !important;
    background: linear-gradient(
        135deg,
        rgba(245, 247, 250, 0.12) 0%,
        rgba(245, 247, 250, 0.06) 51.58%,
        rgba(245, 247, 250, 0.0001) 98.94%
    ) !important;
    box-shadow: 0px 0px 1px rgba(45, 97, 229, 0.12), 0px 12px 24px rgba(45, 97, 229, 0.16),
        0px 1px 1px rgba(20, 16, 41, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(20, 16, 41, 0.4),
        0px 8px 8px -4px rgba(45, 97, 229, 0.06), inset 0px 2px 6px rgba(45, 97, 229, 0.4) !important;
    backdrop-filter: blur(108.731px) !important;
    border-radius: 12px !important;
}
