.faqPage {
    background: #202036;
    position: relative;

    .imageItem {
        width: 200px;
        height: 200px;
        border-radius: 24px;
        margin: 12px;
    }

    .faqHeader {
        margin-top: -112px;
        overflow: hidden;

        .header1 {
            margin-left: -1240px;
            width: 200vw;
            height: 220px;
            overflow: hidden;
        }

        .header2 {
            margin-left: -80px;
            width: 200vw;
            height: 220px;
            overflow: hidden;
        }
    }

    .propertyDiv {
        margin-top: 24px;
        background: rgba(224, 224, 255, 0.02);
        border-radius: 12px;
        font-family: "Montserrat";

        .propertyDivTitle {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: white;
            letter-spacing: -0.4px;
            margin-left: 8px;
        }

        .propertyDivDetail {
            padding-left: 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: rgba(224, 224, 255, 0.6);
        }
    }

    .faqContent {
        padding: 120px 180px;

        .title {
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -1px;
            color: #ffffff;
            margin-bottom: 32px;
        }
    }
}
