.lightModeNight {
    width: 48px;
    min-width: 48px !important;
    height: 48px;
    margin-top: 20px !important;
    margin-right: 30px !important;
    background: rgba(156, 66, 245, 0.03) !important;
    border-radius: 12px !important;
}

.lightModeDay {
    width: 48px;
    min-width: 48px !important;
    height: 48px;
    margin-top: 20px !important;
    margin-right: 30px !important;
    background: rgba(45, 97, 229, 0.03) !important;
    border-radius: 12px !important;
}
